# Maven
/target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# macOS
.DS_Store

# Linux temp files
*.swp
*.swo
